<!DOCTYPE html>
<html>
  <head>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  </head>
  <body>
    <div id="app">
        <h1>Elective Courses</h1>
        <div v-for="course in courses">
            <input type="checkbox" v-model="course.checked">
            <label>{{course.name}}</label>
        </div>
        <div>
            Wybrano przedmiotów: {{checked}}
        </div>
    </div>
    <script>
      var app = new Vue({
        el: "#app",
        data: {
          courses: [
              {name: 'Hurtownie danych', checked: false},
              {name: 'Matematyka dyskretna', checked: false},
              {name: 'Metody optymalizacji procesów', checked: false},
              {name: 'Bogate aplikacje internetowe', checked: false},
              {name: 'Programowanie kreatywne', checked: false}
          ]
        },
        computed: {
          checked() {
              return (this.courses.filter((course) => course.checked).length)
          }
        }
      });
    </script>
  </body>
</html>
